<?xml version="1.0"?>
<model>
  <name>x500_d435</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>cihan</name>
    <email>cihan@todo.todo</email>
  </author>

  <description>
    Holybro X500 V2 with an Intel RealSense D435 camera mounted forward.
  </description>
</model>
